/* ADD YOUR STYLES HERE */

/*.contain {
	display: inline-block;
	float: left;
}

.box {
	margin: 20px 20px;
	text-align: center;	
}*/

.box {
	float: left;
	vertical-align: top;
	margin-right: 5%;
	text-align: block;
	overflow: hidden;
}

/*Vertically Spaced*/

.vert-container {
	height: 300px;
	display: table;
}
.vert {
	display: table-cell;
	vertical-align: middle;
}


/*Horizontal List*/

.horizontal-list li {
	list-style-type: none;
	display: inline-block;
}

/*Buttons*/

.button {
	padding: 20px 40px;
	display: inline-block;
	color: white;
	background-color: pink;
	border-radius: 5px;
	border: 0;
	text-decoration: none;
}

.button-large {
	padding: 30px 60px;
	font-size: 160%;
}

.button-medium {
	padding: 20px 40px;
	font-size: 120%;
}

.button-small {
	padding: 10px 30px;
	font-size: 80%;
}

/*Navigation*/

.nav {
	border-radius: 5px;
	overflow: hidden;
	float: left;
}

.button-hover li {
	float: left;
	list-style-type: none;
	/*display: inline-block;*/
	background-color: pink;
	padding: 20px 40px;
	/*border-left*/

}

.button-hover li a {
	text-decoration: none;
	color: white;
}

.nav ul {
	padding: 0;
	margin: 0;
}
.hover:hover {background-color: blue;}

/*Pagination*/

.page {
	display: inline-block;
	color: pink;
	padding: 5px;
	text-decoration: none;
	border-bottom: solid 3px pink;
	margin: 5px;
	width: 20px;
	text-align: center;
}

.no-page {
	color: pink;
	text-decoration: none;
	padding: 5px;
	margin: 5px;

}

.page-container li {
	display: inline-block;

}

.page-selected {
	color: grey;
	padding: 5px 8px;
	margin: 5px;
	border-bottom: solid 3px grey;

}

a.page:hover {
	color: grey;
}
a.no-page:hover {
	color: grey;
}


/*
.number-link {
	display: inline-block;
	text-decoration: none;
	padding: 5px 9px;
	margin: 5px;
	color: #ec828a;
	border: solid 1px #ec828a;
	border-width: 0 0 3px 0;
}
a.number-link:hover {
	background-color: #fdd;
}

.unadorned-link {
	border-color: transparent;
}
a.unadorned-link:hover {
	border-color: #fdd;
}

.number-disabled {
	margin: 5px 10px;
	color: #ccc;
	border-color: #ccc;
}
*/