/* ADD YOUR STYLES HERE */

/*.contain {
	display: inline-block;
	float: left;
}

.box {
	margin: 20px 20px;
	text-align: center;	
}*/

.box {
	float: left;
	vertical-align: top;
	margin-right: 5%;
	text-align: block;
	overflow: hidden;
}

/*Vertically Spaced*/

.vert-container {
	height: 300px;
	display: table;
}
.vert {
	display: table-cell;
	vertical-align: middle;
}


/*Horizontal List*/

.horizontal-list li {
	list-style-type: none;
	display: inline-block;
}

/*Buttons*/

.button {
	padding: 20px 40px;
	display: inline-block;
	color: white;
	background-color: pink;
	border-radius: 5px;
	border: 0;
	text-decoration: none;
}

.button-large {
	padding: 30px 60px;
	font-size: 160%;
}

.button-medium {
	padding: 20px 40px;
	font-size: 120%;
}

.button-small {
	padding: 10px 30px;
	font-size: 80%;
}

/*Navigation*/

.nav {
	border-radius: 5px;
	overflow: hidden;
	float: left;
}

.button-hover li {
	float: left;
	list-style-type: none;
	/*display: inline-block;*/
	background-color: pink;
	padding: 20px 40px;
	/*border-left*/

}

.button-hover li a {
	text-decoration: none;
	color: white;
}

.nav ul {
	padding: 0;
	margin: 0;
}
.hover:hover {background-color: blue;}

/*Pagination*/

